@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "poppins";
  color: white;
}

body {
  background-color: rgb(40, 40, 40);
  display: flex;
  height: 100vh;
}
