@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "poppins";
  color: white;
}

body {
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='720' preserveAspectRatio='none' viewBox='0 0 1200 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1135%26quot%3b)' fill='none'%3e%3crect width='1200' height='720' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M247.787%2c442.068C294.219%2c440.679%2c328.911%2c403.513%2c350.552%2c362.409C370.533%2c324.457%2c374.455%2c279.472%2c352.92%2c242.379C331.47%2c205.432%2c290.508%2c185.625%2c247.787%2c185.403C204.648%2c185.178%2c163.508%2c204.631%2c140.742%2c241.275C116.645%2c280.061%2c112.307%2c328.601%2c133.788%2c368.895C156.555%2c411.601%2c199.413%2c443.516%2c247.787%2c442.068' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1227.654051188601 732.02176588861L1235.8687392762768 578.0833380046057 1114.7491767993922 637.1572957374212z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M114.74441787626242 595.8394277675856L180.85132864162136 534.1937361809321 55.32933587896167 465.85621582622036z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M620.5219385182484 653.4251215330597L802.2344501366915 762.8448470602929 808.7055326355212 577.5372896091666z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M90.64272517173472 816.333610481984L103.6160538096699 573.2210548217874-87.66618012601884 666.5156339259015z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M918.7021637579415 206.192396311449L1091.5943965723252 200.1548665024242 912.6646339489167 33.30016349706543z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M213.59720308815804 150.19359366136712L237.34904666731262 47.31305622848788 71.15231872841647 63.1255595761956z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1135'%3e%3crect width='1200' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

header {
  position: sticky;
  top: 0;
  background-color: rgb(50, 50, 50);
  padding: 10px;
  display: flex;
  gap: 15px;
}

.sections {
  display: flex;
  gap: 20px;
  align-items: center;
}

.section:hover {
  cursor: pointer;
}

.iframe {
  height: calc(100vh - 45px);
}

iframe {
  width: 100%;
  height: 100%;
}

.inf {
  border-right: 2px solid white;
  padding-right: 15px;
  display: flex;
  gap: 10px;
  align-items: center;

  & img {
    width: 30px;
  }
}
