@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "poppins";
}

html {
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1200' height='720' preserveAspectRatio='none' viewBox='0 0 1200 720'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect width='1200' height='720' x='0' y='0' fill='rgba(0%2c 0%2c 0%2c 1)'%3e%3c/rect%3e%3cpath d='M687.8873477763989 415.1209844956646L693.6643165690112 580.551726048413 859.0950581217597 574.7747572558006 853.3180893291474 409.34401570305215z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M442.934%2c270.029C471.529%2c270.369%2c502.062%2c261.827%2c515.708%2c236.696C528.93%2c212.347%2c516.179%2c184.384%2c502.533%2c160.271C488.596%2c135.643%2c471.215%2c109.079%2c442.934%2c108.103C413.498%2c107.087%2c389.96%2c130.092%2c375.758%2c155.896C362.123%2c180.67%2c358.749%2c210.633%2c373.093%2c235.003C387.252%2c259.059%2c415.022%2c269.698%2c442.934%2c270.029' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M68.51527806641722 430.2205747966066L119.85643102001266 563.9688509247898 253.6047071481958 512.6276979711943 202.26355419460037 378.8794218430112z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M45.49050769263032 27.599582005937144L103.7196108307945 110.75935958708723 199.34472563343752-18.16418391073408z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M956.2390098706378 179.25801747860754L802.7524535240873 223.26957928699017 846.76401533247 376.7561356335407 1000.2505716790205 332.74457382515806z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M703.6312137219352 664.6153058997488L552.3688613102074 537.4452701468156 519.406908126624 707.0198187716452z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1127.4735744384318 534.0317205919362L1117.8505916109473 644.0229176186585 1227.8417886376697 653.6459004461431 1237.4647714651542 543.6547034194207z' fill='rgba(49%2c 49%2c 49%2c 0.71)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1021'%3e%3crect width='1200' height='720' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.contextMenu {
  color: white;
  min-width: 250px;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8);
}

.groups::-webkit-scrollbar {
  width: 10px;
}

.groups::-webkit-scrollbar-track {
  background-color: transparent;

  border: none;
}

.groups::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
}

.members::-webkit-scrollbar {
  width: 10px;
}

.members::-webkit-scrollbar-track {
  background-color: transparent;

  border: none;
}

.members::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70);
  border-radius: 20px;
}

.serverData {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-position: center;
  background-size: cover;
  height: 120px;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#arrow {
  width: 15px;
  margin-top: 6px;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

#arrow:hover {
  transform: translateY(1px);
}

.chanelGroup {
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fst {
  display: flex;
  justify-content: space-between;
}

.snd {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.chanelsOptions {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgba(20, 20, 20, 1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.8rem;
}

.chanelsOptions a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.chanelsOptions a:hover {
  background-color: darkcyan;
  /* color: #000000; */
}

.groups {
  height: calc(100vh - 120px);
  width: 250px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;

  & a {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

a {
  color: white;
  text-decoration: none;
}

#tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  border-radius: 3px;
  pointer-events: none;
  font-size: 0.8rem;
}

.serverOptions {
  position: absolute;
  display: none;
  width: 240px;
  flex-direction: column;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  font-size: 0.8rem;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s;
}

.serverOptions a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.serverOptions a:hover {
  background-color: darkcyan;
}

.serverChanelContent {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.members {
  min-width: 250px;
  height: 100vh;
  right: 0;
  background-color: rgba(50, 50, 50, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-top: 2px solid #232323;
  overflow-y: scroll;
  overflow-x: hidden;
}

.user-photo {
  min-width: 35px;
  min-height: 35px;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

.userCard {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  white-space: nowrap;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#postChanelUtility {
  background-color: rgb(50, 50, 50);
  width: 400px;
  display: none;
  position: absolute;
  top: 40%;
  right: 40%;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
}

#postChanelUtility div {
  display: flex;
  gap: 5px;
}

#postChanelUtility div button {
  width: 100%;
}

#chanelTypeToPost {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  width: 86%;
  margin: auto;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
  color: white;
}

#typeHider {
  width: 45%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  /* left: 37px; */
  left: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

#typeEmoji {
  transition: transform 1s ease;
}

.confirm {
  border: none;
  border-radius: 4px;
  background-color: darkcyan;
}

.confirm:hover {
  background-color: cyan;
}

.delete {
  border: none;
  border-radius: 4px;
  background-color: crimson;
  color: white;
}

.delete:hover {
  background-color: rgb(124, 11, 34);
}

.inputPostChanel {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 5px 10px 5px;
  color: white;
  border-radius: 4px;
}

.inputPostChanel:focus {
  outline: none;
}

.big {
  font-family: "poppins_bold";
}

.aux {
  transform: translateY(12px);
  text-align: center;
}

.chanelLink {
  padding: 2px;
  border-radius: 8px;
  max-width: 100%;
  width: fit-content;
}