@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins_bold";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: "poppins";
}

html {
  overflow: hidden;
}

body {
  background-color: rgba(0, 0, 0, 0.507);
  display: flex;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url("../images/chatbg.png") center center fixed;
}

.contextMenu {
  color: white;
  width: 250px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.serverData {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-position: center;
  background-size: cover;
  height: 120px;
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

#arrow {
  width: 15px;
  margin-top: 6px;
  filter: drop-shadow(3px 3px 3px rgb(0, 0, 0));
}

#arrow:hover {
  transform: translateY(1px);
}

.chanelGroup {
  font-size: 1rem;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.fst {
  display: flex;
  justify-content: space-between;
}

.snd {
  margin-top: 10px;
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.chanelsOptions {
  position: absolute;
  display: none;
  flex-direction: column;
  background-color: rgba(50, 50, 50, 1);
  border-radius: 10px;
  overflow: hidden;
  font-size: 0.8rem;
}

.chanelsOptions a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.chanelsOptions a:hover {
  background-color: darkcyan;
  /* color: #000000; */
}

.groups {
  height: 100vh;
  width: 250px;
  display: flex;
  flex-direction: column;
}

a {
  color: white;
  text-decoration: none;
}

#tooltip {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 8px;
  border-radius: 3px;
  pointer-events: none;
  font-size: 0.8rem;
}

.serverOptions {
  position: absolute;
  display: none;
  width: 240px;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  border-radius: 10px;
  font-size: 0.8rem;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 0.2s;
}

.serverOptions a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.serverOptions a:hover {
  background-color: darkcyan;
}

.serverChanelContent {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.members {
  min-width: 250px;
  height: 100vh;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-top: 2px solid #232323;
}

.user-photo {
  min-width: 35px;
  min-height: 35px;
  border-radius: 100%;
  background-position: center center;
  background-size: cover;
}

.userCard {
  display: flex;
  color: white;
  gap: 10px;
  align-items: center;
  white-space: nowrap;

  & p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#postChanelUtility {
  background-color: rgb(50, 50, 50);
  width: 400px;
  display: none;
  position: absolute;
  top: 40%;
  right: 40%;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
  gap: 5px;
}

#postChanelUtility div {
  display: flex;
  gap: 5px;
}

#postChanelUtility div button {
  width: 100%;
}

#chanelTypeToPost {
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.5);
  width: 86%;
  margin: auto;
  border-radius: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  user-select: none;
  color: white;
}

#typeHider {
  width: 45%;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  /* left: 37px; */
  left: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

#typeEmoji {
  transition: transform 1s ease;
}

.confirm {
  border: none;
  border-radius: 4px;
  background-color: darkcyan;
}

.confirm:hover {
  background-color: cyan;
}

.delete {
  border: none;
  border-radius: 4px;
  background-color: crimson;
  color: white;
}

.delete:hover {
  background-color: rgb(124, 11, 34);
}

.inputPostChanel {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 5px 10px 5px;
  color: white;
  border-radius: 4px;
}

.inputPostChanel:focus {
  outline: none;
}

.big {
  font-family: "poppins_bold";
}

.aux {
  transform: translateY(12px);
  text-align: center;
}
